In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [42]:
df = pd.read_csv('project_4_Covid-19_Dataset.csv', index_col ='Date', parse_dates = True)
df.head(3)

           State       Region  Confirmed  Deaths  Recovered
Date
2020-04-29   NaN  Afghanistan       1939      60        252
2020-04-29   NaN      Albania        766      30        455
2020-04-29   NaN      Algeria       3848     444       1702

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 321 entries, 2020-04-29 to 2020-04-29
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   State      140 non-null    object
 1   Region     321 non-null    object
 2   Confirmed  321 non-null    int64
 3   Deaths     321 non-null    int64
 4   Recovered  321 non-null    int64
dtypes: int64(3), object(2)
memory usage: 15.0+ KB

In [44]:
df.columns

Index(['State', 'Region', 'Confirmed', 'Deaths', 'Recovered'], dtype='object')

In [45]:
df = df.astype({'Confirmed': 'int32',
               'Deaths': 'int32',
               'Recovered': 'int32'})
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 321 entries, 2020-04-29 to 2020-04-29
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   State      140 non-null    object
 1   Region     321 non-null    object
 2   Confirmed  321 non-null    int32
 3   Deaths     321 non-null    int32
 4   Recovered  321 non-null    int32
dtypes: int32(3), object(2)
memory usage: 11.3+ KB

In [46]:
df[ ~ df.isna().any(axis=1)]

               State          Region  Confirmed  Deaths  Recovered
Date
2020-04-29   Alabama              US       6912     256          0
2020-04-29    Alaska              US        355       9          0
2020-04-29   Alberta          Canada       5165      87          0
2020-04-29  Anguilla              UK          3       0          3
2020-04-29     Anhui  Mainland China        991       6        985
...              ...             ...        ...     ...        ...
2020-04-29   Wyoming              US        545       7          0
2020-04-29  Xinjiang  Mainland China         76       3         73
2020-04-29     Yukon          Canada         11       0          0
2020-04-29    Yunnan  Mainland China        185       2        181
2020-04-29  Zhejiang  Mainland China       1268       1       1263

[140 rows x 5 columns]

In [47]:
df.columns

Index(['State', 'Region', 'Confirmed', 'Deaths', 'Recovered'], dtype='object')

In [49]:
df[ ~ df.isna().any(axis=1)].groupby('Region')[['State']].count()

                State
Region
Australia           8
Canada             15
Denmark             2
France             10
Hong Kong           1
Macau               1
Mainland China     31
Netherlands         4
UK                 10
US                 58

In [76]:
df_big = df[ ~ df.isna().any(axis=1)].groupby('Region')[['Confirmed', 'Deaths', 'Recovered']].sum().sort_values(by='Recovered',ascending=False)
df_big

                Confirmed  Deaths  Recovered
Region
US                1039909   60967     120720
Mainland China      82862    4633      77610
Canada              52865    3155      20327
Australia            6752      91       5715
France               1450      34        890
UK                   1220      69        857
Hong Kong            1037       4        830
Denmark               198       0        192
Netherlands           196      16        119
Macau                  45       0         34

In [85]:
df_big['Recovered_Ratio'] = (df_big['Recovered']/df_big['Confirmed']).copy()
df_big = df_big.sort_values(by='Recovered_Ratio', ascending=False).round(3)
df_big

                Confirmed  Deaths  Recovered  Recovered_Ratio
Region
Denmark               198       0        192            0.970
Mainland China      82862    4633      77610            0.937
Australia            6752      91       5715            0.846
Hong Kong            1037       4        830            0.800
Macau                  45       0         34            0.756
UK                   1220      69        857            0.702
France               1450      34        890            0.614
Netherlands           196      16        119            0.607
Canada              52865    3155      20327            0.385
US                1039909   60967     120720            0.116