In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df = pd.read_csv('project_4_Covid-19_Dataset.csv', index_col ='Date', parse_dates = True)
df.head(3)

           State       Region  Confirmed  Deaths  Recovered
Date
2020-04-29   NaN  Afghanistan       1939      60        252
2020-04-29   NaN      Albania        766      30        455
2020-04-29   NaN      Algeria       3848     444       1702